#root {
  text-align: center;
  justify-content: center;
}

.title {
  color: #a1a1a1;
  font-size: 24px;
  margin: 16rem 0 3rem 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitle {
  color: #a1a1a1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input1,
.input2 {
  width: 12rem;
  height: 1.8rem;
  margin: 1rem 0;
  border: 1px solid #a1a1a1;
  padding: 0.2rem;
}

.button {
  background-color: #a1a1a1;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button:hover {
  background-color: #666666;
}
